<!DOCTYPE html>
<html lang="en">
<%-include('templates/header.ejs', {tittle: 'Document'})%>
<body>
    <h1>Agregar Producto</h1>
    <%-include ('templates/footer.js')%>
    <button id="btinSend">adicionar Producto</button>

    <script src="../../public/scripts.js"></script>
  
</body>
